# Environment
.env
.env.*
!.env.example

# Application Data
/data/

# Dependencies
/node_modules
/src-tauri/target

# Build Artifacts
/dist
/dist-ssr

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
bun-debug.log*
/src-tauri/logs/

# IDE / Editor
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db